<div id="content" class="<%= show_content_classes %>">
  <%= render_document_main_content_partial %>
</div>
<div class="col-md-3">

	<table class="table table-striped data-table">
	<thead>
		<tr>
			<th>Data Sources</th>
		</tr>
	</thead>


	  <tbody>
	    <tr>
	      <td>I Tatti</td>
	      <td><a href="http://data.itatti.harvard.edu/id/florentinedrawings/<%="#{@document['id']}"%>"><%="#{@document['id']}"%></a></td>
	    </tr>
	    <% if !@document["contributors_t"].nil?%>
		    <% if @document["contributors_t"].size > 0%>
			    <tr>
			      <td>ULAN</td>
			      <td>
			      <% @document["contributors_t"].each_with_index do |name, index| %>

			      		<a href="<%=@document["contributors_ulan_t"][index]%>"><%=name%></a>&nbsp;

			      <% end %>
			      </td>
			    </tr>
		    <% end %>
		<% end %>
	    <% if !@document["technique_recto_t"].nil? and !@document["technique_verso_t"].nil?%>
		    <% if @document["technique_recto_t"].size > 0 or @document["technique_verso_t"].size > 0%>
			    <tr>
			      <td>AAT</td>
			       <td>
			      <% if !@document["technique_recto_t"].nil? %>

					      <% @document["technique_recto_t"].each_with_index do |name, index| %>
					      		<a href="<%=@document["technique_recto_uri"][index]%>"><%=name%></a>&nbsp;

					      <% end %>
				  <% end %>
			      <% if !@document["technique_verso_t"].nil? %>
				      <% @document["technique_verso_t"].each_with_index do |name, index| %>
				      		<a href="<%=@document["technique_verso_uri"][index]%>"><%=name%></a>&nbsp;
				      <% end %>
				  <% end %>
				   <td>
			    </tr>
		    <% end %>
		<% end %>
	    <% if !@document["owners_label_t"].nil?%>
		    <% if @document["owners_label_t"].size > 0%>
			    <tr>
			      <td>VIAF</td>
			      <td>
			      <% @document["owners_label_t"].each_with_index do |name, index| %>

			      		<a href="<%=@document["owners_geo_uri_t"][index]%>"><%=name%></a>&nbsp;

			      <% end %>
			      </td>
			    </tr>
		    <% end %>
	    <% end %>
	    <% if !@document["owners_geo_label_t"].nil?%>
		    <% if @document["owners_geo_label_t"].size > 0%>
			    <tr>
			      <td>Geonames</td>
			      <td>
			      <% @document["owners_geo_label_t"].each_with_index do |name, index| %>

			      		<a href="<%=@document["owners_geo_uri_t"][index]%>"><%=name%></a>&nbsp;

			      <% end %>
			      </td>
			    </tr>
		    <% end %>
	    <% end %>
	  </tbody>
	</table>
</div>
